@charset "utf-8";
/*
마이뱅크
write : gray
since : 2019-10-18
*/

.mi-scroll-none{
    overflow: hidden;
}

$mi-pop-color-gray1: #777;
$mi-pop-color-gray2: #999;
$mi-pop-color-gray3: #333;
$mi-pop-color-gray4: #555;
$mi-pop-color-gray5: #ddd;
$mi-pop-color-gray6: #666;
$mi-pop-color-gray7: #aaa;
$mi-pop-color-point1: #00b19a;
$mi-pop-color-point2: #e27f72;
$mi-pop-color-point3: #ff8000;
$mi-pop-color-point4: #4f9cd0;
$mi-pop-color-point5: #f6fffe;

/*팝업 공통*/
.mi-common-pop{
    display: none;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 320px;
    overflow: auto;
    box-sizing: border-box;
    *{
        margin: 0;
        padding: 0;
        line-height: 1.63;
        box-sizing: border-box;
        letter-spacing: normal;
        text-rendering: initial;
        font-family: 'Noto Sans KR', Malgun Gothic, '맑은 고딕', dotum, '돋움', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,sans-serif;
    }
    .mi-info-box1{
        *{
            line-height: 1.5;
            letter-spacing: -0.5px;
            word-break: keep-all;
        }
        .section:first-child {
            margin-top: 0;
        }
    }
    .color-point1{
        color: $mi-pop-color-point1;
    }
    .color-point2{
        color: $mi-pop-color-point2;
    }
    .t-a-c{
        text-align: center;
    }
    .t-a-l{
        text-align: left;
    }
    .t-a-r{
        text-align: right;
    }
    > div{
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    .box-wrap{
        position: absolute;
        width: 100%;
        background: #fff;
        &.full{
            max-width: 700px !important;
            height: 100%;
            .copy-wrap{
                height: 100%;
                padding: 0 !important;
            }
            .copy-box{
                height: 100%;
                padding: 50px 0 0 0 !important;
            }
        }
    }
    h2.title{
        font-size: 17px;
        font-weight: normal;
        color: $mi-pop-color-gray3;
        &.type1{
            font-size: 18px;
            text-align: left;
        }
        &.psfixed{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            padding: 10px;
            background-color: #fff;
        }
        
    }
    .bt-wrap{
        padding: 0 10px 10px;
        ul{
            margin: 0 -4px;
            overflow: hidden;
        }
        ul li{
            float: left;
            padding: 0 4px;
            list-style: none;

            $i: 1;
            @while $i <= 10 {
                &.w-#{$i} {
                    width: 100%/$i;
                }
                $i: $i + 1;
            }
        }
        button{
            width: 100%;
            height: 45px;
            line-height: 45px;
            font-size: 15px;
        }
    }
    button{
        border: none;
        background-color: transparent;
        outline: 0;
        text-align: center;
        cursor: pointer;
        &.yes-bt{
            background-color: $mi-pop-color-point1;
            color: #fff;
        }
        &.no-bt{
            background-color: #fff;
            color: $mi-pop-color-point1;
            border: 1px solid $mi-pop-color-point1;
        }
    }
    .close-x{
        z-index: 2;
        position: absolute;
        top: 17px;
        right : 12px;
        width: 12px;
        height: 12px;
        &::after,
        &::before{
            content: '';
            display: block;
            position: absolute;
            top:50%;
            left:50%;
            width: 20px;
            height: 1px;
            margin-left: -10px;
            background-color: #626262;
        }
        &::after{
            transform: rotate(45deg);
        }
        &::before{
            transform: rotate(-45deg);
        }
    }
    .txt-box1{
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 15px;
        color: $mi-pop-color-gray1;
    }
    .pop-input{
        width: 100%;
        height: 44px;
        padding: 0 10px;
        border:1px solid $mi-pop-color-gray5;
        background-color: #fff;
        font-size: 15px;
        color: $mi-pop-color-gray4;
        outline: 0;
        &:focus{
            z-index: 2;
            border-color: $mi-pop-color-point1;
        }
        &.placeholder{
            &::-webkit-input-placeholder {
                color: $mi-pop-color-gray5;
            }
            &:-ms-input-placeholder {
                color: $mi-pop-color-gray5;
            }
            &::-ms-input-placeholder {
                color: $mi-pop-color-gray5;
            }
            &::placeholder {
                color: $mi-pop-color-gray5;
            }
        }
    }
    select.pop-input{
        appearance:none;
        background: url('/images/contents/arrow1.png') no-repeat right 10px center #fff;
        background-image: 
        image-set(
            url('/images/contents/arrow1@2x.png') 2x,
            url('/images/contents/arrow1@3x.png') 3x,
        );
        &:focus{
            background-image: url('/images/contents/arrow1-1.png');
            background-image: 
            image-set(
                url('/images/contents/arrow1-1@2x.png') 2x,
                url('/images/contents/arrow1-1@3x.png') 3x,
            );
        }
        .color-red{
            color: $mi-pop-color-point3;
        }
        .color-blue{
            color: $mi-pop-color-point4;
        }
    }
    select.pop-input::-ms-expand{
        display:none
    }
    .pop-list1{
        li{
            padding: 13px 10px;
            display: flex;
            justify-content: space-between;
            border-top:1px solid $mi-pop-color-gray5 ;
            .letter-sp1{
                letter-spacing: -0.53px;
                *{
                    letter-spacing: -0.53px;
                }
            }
            .font-small-1{
                font-size: 14px;
            }
            > div{
                &:nth-child(1){
                    font-size: 15px;
                    color: $mi-pop-color-gray2;
                    text-align: left;
                }
                &:nth-child(2){
                    padding-left: 10px;
                    font-size: 15px;
                    color: $mi-pop-color-gray4;
                    text-align: right;
                }
                &.w1{
                    width: 100px;
                }
                &.w2{
                    width: 185px;
                }
                &.w3{
                    width: 200px;
                }
            }
            &.input-box{
                padding: 5px 0 5px 10px;
                div{
                    &:nth-child(1){
                        padding-top: 8px;
                    }
                }
            }
            &:first-child{
                border: none;
            }
            &:last-child{
                padding-bottom: 0;
            }
        }
        &.type1{
            padding: 0 10px;
        }
    }
    .pop-list2{
        margin: 15px 0 0;
        padding: 0 20px;
        overflow: hidden;
        > div{
            position: relative;
            float: left;
            width: 50%;
            padding: 0 3px;
            .pop-input{
                text-align: center;
                font-size: 18px;
            }
            .placeholder{
                position: absolute;
                top:50%;
                right:15px;
                font-size: 14px;
                color: $mi-pop-color-gray2;
                transform: translate(0, -50%);
            }
        }
    }
    .pop-list3-wrap{
        position: relative;
        height: 100%;
        padding-top: 15px;
    }
    .pop-list3{
        overflow-y: auto;
        height: 100%;
        padding: 0 10px 50px;
        .thead,
        .tbody > div{
            display: flex;
            > div{
                padding: 8px 0;
                text-align: center;
                font-size: 15px;
                color: $mi-pop-color-gray6;
                &:nth-child(1){
                    width: 40px;
                    color: $mi-pop-color-gray2;
                }
                &:nth-child(2){
                    width: 80px;
                }
                &:nth-child(3){
                    width: 75px;
                }
                &:nth-child(4){
                    flex: 1;
                }
                &:nth-child(5){
                    flex: 1;
                }
            }
        }
        .thead{
            position: absolute;
            top: 15px;
            left:0;
            width: 100%;
            padding:0 10px;
            background-color: #fff;
            > div{
                border-top: 1px solid $mi-pop-color-gray7;
                border-bottom: 1px solid $mi-pop-color-gray7;
                color: $mi-pop-color-gray2;
            }
        }
        
        .tbody{
            padding-top: 41px;
            > div{
                border-bottom: 1px solid $mi-pop-color-gray5;
                &:nth-child(1){
                    background-color: $mi-pop-color-point5;
                }
            }
        }
    }
    &.info-box1{
        padding: 0 16px;
        background-color: rgba(0,0,0,0.6);
        @media all and (max-width:460px){
            &{
                padding:0 10px;
            }
        }
        .box-wrap{
            max-width: 448px;
        }
        .copy-wrap{
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            padding: 10px;
            color: $mi-pop-color-gray1;
            font-size: 15px;
            > *{
                width: 100%;
            }
            .copy-box{
                line-height: 1.87;
                padding: 20px 0;
                b{
                    font-weight: 500;
                }
                .small-copy1{
                    font-size: 14px;
                    color: $mi-pop-color-gray2;
                }
            }
        }
    }
}