@charset "UTF-8";

/*STR default*/
$default-font-family : 'Noto Sans KR', Malgun Gothic, '맑은 고딕', dotum, '돋움', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,sans-serif;
$default-font-color : #666;
$default-font-color-link : #666;
$default-font-size : 15px;
/*END default*/

$con-point-color0 : #00816c;
$con-point-color1 : #00b19a;
$con-point-color2 : #ef5353;
$con-point-color3 : #d96654;
$con-point-color4 : #7fc0b5;
$con-point-color5 : #ff8000;
$con-placeholder-font-color1: #ddd;

$con-default-font-color1 : #333;
$con-default-font-color2 : #666;
$con-default-font-color3 : #999;
$con-default-font-color4 : #ddd;

$con-border-color1: #bbb;
$con-border-color2: #ccc;
$con-border-color3: #ddd;
$con-border-color4: #eee;
$con-border-color5: #aaa;
$con-border-color6: #006d5b;
$con-border-color7: #a21414;

$con-back-color1: #f9f9f9;
$con-back-color2: #f4f4f4;
$con-back-color3: #ddd;
$con-back-color4: #00816c;
$con-back-color5: #c62626;
$con-back-color6: #bebebe;

$mediaWidth1 : 700px;
$mediaWidth2 : 600px;
$mediaWidth3 : 414px;
$mediaWidth4 : 375px;
$mediaWidth5 : 320px;

@mixin mediaMax($tarW){
	@media all and (max-width: $tarW) {
		@content;
	}
}

@mixin mediaMin($tarW){
	@media all and (min-width: $tarW) {
		@content;
	}
}

$mi-list-style-type1: ( '①', '②', '③', '④', '⑤', '⑥', '⑦', '⑧', '⑨', '⑩' );