@charset "UTF-8";
/*
마이뱅크
write : gray
since : 2019-10-18
*/
.mi-scroll-none {
  overflow: hidden;
}

/*팝업 공통*/
.mi-common-pop {
  display: none;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 320px;
  overflow: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.mi-common-pop * {
  margin: 0;
  padding: 0;
  line-height: 1.63;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: normal;
  text-rendering: initial;
  font-family: 'Noto Sans KR', Malgun Gothic, '맑은 고딕', dotum, '돋움', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial,sans-serif;
}

.mi-common-pop .mi-info-box1 * {
  line-height: 1.5;
  letter-spacing: -0.5px;
  word-break: keep-all;
}

.mi-common-pop .mi-info-box1 .section:first-child {
  margin-top: 0;
}

.mi-common-pop .color-point1 {
  color: #00b19a;
}

.mi-common-pop .color-point2 {
  color: #e27f72;
}

.mi-common-pop .t-a-c {
  text-align: center;
}

.mi-common-pop .t-a-l {
  text-align: left;
}

.mi-common-pop .t-a-r {
  text-align: right;
}

.mi-common-pop > div {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.mi-common-pop .box-wrap {
  position: absolute;
  width: 100%;
  background: #fff;
}

.mi-common-pop .box-wrap.full {
  max-width: 700px !important;
  height: 100%;
}

.mi-common-pop .box-wrap.full .copy-wrap {
  height: 100%;
  padding: 0 !important;
}

.mi-common-pop .box-wrap.full .copy-box {
  height: 100%;
  padding: 50px 0 0 0 !important;
}

.mi-common-pop h2.title {
  font-size: 17px;
  font-weight: normal;
  color: #333;
}

.mi-common-pop h2.title.type1 {
  font-size: 18px;
  text-align: left;
}

.mi-common-pop h2.title.psfixed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #fff;
}

.mi-common-pop .bt-wrap {
  padding: 0 10px 10px;
}

.mi-common-pop .bt-wrap ul {
  margin: 0 -4px;
  overflow: hidden;
}

.mi-common-pop .bt-wrap ul li {
  float: left;
  padding: 0 4px;
  list-style: none;
}

.mi-common-pop .bt-wrap ul li.w-1 {
  width: 100%;
}

.mi-common-pop .bt-wrap ul li.w-2 {
  width: 50%;
}

.mi-common-pop .bt-wrap ul li.w-3 {
  width: 33.33333%;
}

.mi-common-pop .bt-wrap ul li.w-4 {
  width: 25%;
}

.mi-common-pop .bt-wrap ul li.w-5 {
  width: 20%;
}

.mi-common-pop .bt-wrap ul li.w-6 {
  width: 16.66667%;
}

.mi-common-pop .bt-wrap ul li.w-7 {
  width: 14.28571%;
}

.mi-common-pop .bt-wrap ul li.w-8 {
  width: 12.5%;
}

.mi-common-pop .bt-wrap ul li.w-9 {
  width: 11.11111%;
}

.mi-common-pop .bt-wrap ul li.w-10 {
  width: 10%;
}

.mi-common-pop .bt-wrap button {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 15px;
}

.mi-common-pop button {
  border: none;
  background-color: transparent;
  outline: 0;
  text-align: center;
  cursor: pointer;
}

.mi-common-pop button.yes-bt {
  background-color: #00b19a;
  color: #fff;
}

.mi-common-pop button.no-bt {
  background-color: #fff;
  color: #00b19a;
  border: 1px solid #00b19a;
}

.mi-common-pop .close-x {
  z-index: 2;
  position: absolute;
  top: 17px;
  right: 12px;
  width: 12px;
  height: 12px;
}

.mi-common-pop .close-x::after, .mi-common-pop .close-x::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 1px;
  margin-left: -10px;
  background-color: #626262;
}

.mi-common-pop .close-x::after {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mi-common-pop .close-x::before {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mi-common-pop .txt-box1 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #777;
}

.mi-common-pop .pop-input {
  width: 100%;
  height: 44px;
  padding: 0 10px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 15px;
  color: #555;
  outline: 0;
}

.mi-common-pop .pop-input:focus {
  z-index: 2;
  border-color: #00b19a;
}

.mi-common-pop .pop-input.placeholder::-webkit-input-placeholder {
  color: #ddd;
}

.mi-common-pop .pop-input.placeholder:-ms-input-placeholder {
  color: #ddd;
}

.mi-common-pop .pop-input.placeholder::-ms-input-placeholder {
  color: #ddd;
}

.mi-common-pop .pop-input.placeholder:-moz-placeholder {
  color: #ddd;
}

.mi-common-pop .pop-input.placeholder::-moz-placeholder {
  color: #ddd;
}

.mi-common-pop .pop-input.placeholder::placeholder {
  color: #ddd;
}

.mi-common-pop select.pop-input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("/images/contents/arrow1.png") no-repeat right 10px center #fff;
  background-image: -webkit-image-set(url("/images/contents/arrow1@2x.png") 2x, url("/images/contents/arrow1@3x.png") 3x);
  background-image: image-set(url("/images/contents/arrow1@2x.png") 2x, url("/images/contents/arrow1@3x.png") 3x);
}

.mi-common-pop select.pop-input:focus {
  background-image: url("/images/contents/arrow1-1.png");
  background-image: -webkit-image-set(url("/images/contents/arrow1-1@2x.png") 2x, url("/images/contents/arrow1-1@3x.png") 3x);
  background-image: image-set(url("/images/contents/arrow1-1@2x.png") 2x, url("/images/contents/arrow1-1@3x.png") 3x);
}

.mi-common-pop select.pop-input .color-red {
  color: #ff8000;
}

.mi-common-pop select.pop-input .color-blue {
  color: #4f9cd0;
}

.mi-common-pop select.pop-input::-ms-expand {
  display: none;
}

.mi-common-pop .pop-list1 li {
  padding: 13px 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ddd;
}

.mi-common-pop .pop-list1 li .letter-sp1 {
  letter-spacing: -0.53px;
}

.mi-common-pop .pop-list1 li .letter-sp1 * {
  letter-spacing: -0.53px;
}

.mi-common-pop .pop-list1 li .font-small-1 {
  font-size: 14px;
}

.mi-common-pop .pop-list1 li > div:nth-child(1) {
  font-size: 15px;
  color: #999;
  text-align: left;
}

.mi-common-pop .pop-list1 li > div:nth-child(2) {
  padding-left: 10px;
  font-size: 15px;
  color: #555;
  text-align: right;
}

.mi-common-pop .pop-list1 li > div.w1 {
  width: 100px;
}

.mi-common-pop .pop-list1 li > div.w2 {
  width: 185px;
}

.mi-common-pop .pop-list1 li > div.w3 {
  width: 200px;
}

.mi-common-pop .pop-list1 li.input-box {
  padding: 5px 0 5px 10px;
}

.mi-common-pop .pop-list1 li.input-box div:nth-child(1) {
  padding-top: 8px;
}

.mi-common-pop .pop-list1 li:first-child {
  border: none;
}

.mi-common-pop .pop-list1 li:last-child {
  padding-bottom: 0;
}

.mi-common-pop .pop-list1.type1 {
  padding: 0 10px;
}

.mi-common-pop .pop-list2 {
  margin: 15px 0 0;
  padding: 0 20px;
  overflow: hidden;
}

.mi-common-pop .pop-list2 > div {
  position: relative;
  float: left;
  width: 50%;
  padding: 0 3px;
}

.mi-common-pop .pop-list2 > div .pop-input {
  text-align: center;
  font-size: 18px;
}

.mi-common-pop .pop-list2 > div .placeholder {
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 14px;
  color: #999;
  -webkit-transform: translate(0, -50%);
     -moz-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.mi-common-pop .pop-list3-wrap {
  position: relative;
  height: 100%;
  padding-top: 15px;
}

.mi-common-pop .pop-list3 {
  overflow-y: auto;
  height: 100%;
  padding: 0 10px 50px;
}

.mi-common-pop .pop-list3 .thead,
.mi-common-pop .pop-list3 .tbody > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.mi-common-pop .pop-list3 .thead > div,
.mi-common-pop .pop-list3 .tbody > div > div {
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
  color: #666;
}

.mi-common-pop .pop-list3 .thead > div:nth-child(1),
.mi-common-pop .pop-list3 .tbody > div > div:nth-child(1) {
  width: 40px;
  color: #999;
}

.mi-common-pop .pop-list3 .thead > div:nth-child(2),
.mi-common-pop .pop-list3 .tbody > div > div:nth-child(2) {
  width: 80px;
}

.mi-common-pop .pop-list3 .thead > div:nth-child(3),
.mi-common-pop .pop-list3 .tbody > div > div:nth-child(3) {
  width: 75px;
}

.mi-common-pop .pop-list3 .thead > div:nth-child(4),
.mi-common-pop .pop-list3 .tbody > div > div:nth-child(4) {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mi-common-pop .pop-list3 .thead > div:nth-child(5),
.mi-common-pop .pop-list3 .tbody > div > div:nth-child(5) {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mi-common-pop .pop-list3 .thead {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  padding: 0 10px;
  background-color: #fff;
}

.mi-common-pop .pop-list3 .thead > div {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  color: #999;
}

.mi-common-pop .pop-list3 .tbody {
  padding-top: 41px;
}

.mi-common-pop .pop-list3 .tbody > div {
  border-bottom: 1px solid #ddd;
}

.mi-common-pop .pop-list3 .tbody > div:nth-child(1) {
  background-color: #f6fffe;
}

.mi-common-pop.info-box1 {
  padding: 0 16px;
  background-color: rgba(0, 0, 0, 0.6);
}

@media all and (max-width: 460px) {
  .mi-common-pop.info-box1 {
    padding: 0 10px;
  }
}

.mi-common-pop.info-box1 .box-wrap {
  max-width: 448px;
}

.mi-common-pop.info-box1 .copy-wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px;
  color: #777;
  font-size: 15px;
}

.mi-common-pop.info-box1 .copy-wrap > * {
  width: 100%;
}

.mi-common-pop.info-box1 .copy-wrap .copy-box {
  line-height: 1.87;
  padding: 20px 0;
}

.mi-common-pop.info-box1 .copy-wrap .copy-box b {
  font-weight: 500;
}

.mi-common-pop.info-box1 .copy-wrap .copy-box .small-copy1 {
  font-size: 14px;
  color: #999;
}
